@import 'base';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  box-shadow: 1px 1px 30px #bbbbbb;

  .titulo {
    letter-spacing: 0.3rem;
  }

  .subtitulo {
    letter-spacing: 0.1rem;
    font-style: oblique;
  }
}


.dadosMoedas {
  display: flex;
  background-color: #ffffff;
  box-shadow: inset 1px 1px 20px #e0e0e0;
  border-radius: 4rem;
  width: 100%;
  padding: 40px 50px;

  .grafico {
    width: 60%;
    position: relative;

    img {
      position: absolute;
      background-color: #bbbbbb;
      width: 30px;
      height: 30px;
      top: 0;
    }

    canvas {
      width: 100%;
      border-radius: 12px;
    }
  }

  h2 {
    margin: 0 0 15px 50px;
  }

  .valoresMoeda {
    width: 40%;
  }
}



@media screen and (max-width: 960px) {
}
